<div close="cancel()">
    <div class="modal-header">
        <h4>Crear Ubicaciones</h4>
    </div>

    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-6" >
                    <label  >Empresa:</label>
                    <div>
                        <input readonly class="form-control" ng-model="container.key.key" />

                    </div>
                </div>

                <div class="col-sm-6" >
                    <label >Bodega:</label>
                    <div >
                        <input readonly class="form-control" ng-model="container.storage.key" />

                    </div>
                </div>

                <div ng-repeat ="f in metadataContenedoresDetalle"  class="col-sm-6"  >

                    <label  >{{f.value}}</label>
                    <div  >
                        <input readonly class="form-control" ng-model="container[f.key]" />
                    </div>

                </div>
            </div>
        </div>

        <button class="btn btn-success" ng-click="addUbicacion()">+</button>

        <table ng-table="tableParamsContenedor" class="table" show-filter="true">
            <thead>
            <tr>
                <th ng-repeat="f in metadataUbicaciones" >{{ f.value}}
                </th>
                <th> Opciones</th>
            </tr>
            </thead>

            <tr ng-repeat="ubicaciones in $data">
                <td ng-repeat="f in metadataUbicaciones">
                    <input ng-model="ubicaciones[f.key]" ></input>

                </td>

                <td title="'Opciones'"  >
                    <button class="btn btn-success" ng-click="remove (this)"> X </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Guardar</button>
        <button class="btn" ng-click="cancel()">Cerrar</button>
        <button class="btn" ng-click="cancel()">Generar Barras</button>
    </div>
</div>