<div class="d-flex">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div  ng-include src="'assets/app/entities/garantias/bodega/view/menu_modega.html'"></div>
    </div>
    <div id="page-wrapper">

        <p class="container">
            <button class="btn btn-success"  ng-click="openModalRealizarPrestamoBodega()"> Inicar un Préstamo</button>
        <h2 class="sub" ng-click="cambiarColapsoContenedor()">Préstamos Solicitados</h2>
        <div class="expandcollapse-item">

            <div class="slideDown" ng-hide="colapsoContenedor">

                <div class="expand-collapse-content">

                </div>


                <table ng-table="tableParamsPrestamoPendienteConfirmar" class="table" show-filter="true">
                    <tr ng-repeat="b in $data">
                        <td title="'Estado'" filter="{ 'estado': 'text'}" sortable="'estado'">
                            {{b.estado}}</td>
                        <td title="'Usuario'" filter="{ 'solicitudUsuario': 'text'}" sortable="'solicitudUsuario'">
                            {{b.solicitudUsuario}}</td>
                        <td title="'Prioridad'" filter="{ 'tipoPrioridadPrestamo': 'text'}" sortable="'tipoPrioridadPrestamo'">
                            {{b.tipoPrioridadPrestamo}}</td>
                        <td title="'Numero'" filter="{ 'numero': 'text'}" sortable="'numero'">
                            {{b.numero}}</td>

                        <td title="'Opciones'" >
                            <button ng-if="b.estado=='PENDIENTE_CONFIRMACION_BODEGA'" class="btn btn-success" ng-click="aprobar(b)"> Confirmar</button>
                            <button ng-if="b.estado=='PENDIENTE_CONFIRMACION_BODEGA'" class="btn btn-success" ng-click="rechazar(b)"> Rechazar</button>
                            <button class="btn btn-success" type="submit" ng-click="detallePrestamoPendiente(b)">Ver Detalle </button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>

        <h2 class="sub" ng-click="cambiarColapsoContenedorPendientePrepararEntregar()">Documentos Pendientes por Preparar Entrega</h2>
        <div class="expandcollapse-item">

            <div class="slideDown" ng-hide="colapsoContenedorPendientePrepararEntregar">

                <div class="expand-collapse-content">

                </div>



                <table ng-table="tableParamsContainerPendientePrepararEntregar" class="table" show-filter="true">
                    <tr ng-repeat="b in $data">
                        <td title="'Estado'" filter="{ 'estado': 'text'}" sortable="'estado'">
                            {{b.estado}}</td>
                        <td title="'Usuario'" filter="{ 'solicitudUsuario': 'text'}" sortable="'solicitudUsuario'">
                            {{b.solicitudUsuario}}</td>
                        <td title="'Prioridad'" filter="{ 'tipoPrioridadPrestamo': 'text'}" sortable="'tipoPrioridadPrestamo'">
                            {{b.tipoPrioridadPrestamo}}</td>
                        <td title="'Numero'" filter="{ 'numero': 'text'}" sortable="'numero'">
                            {{b.numero}}</td>

                        <td title="'Opciones'" >
                            <button ng-if="b.estado=='ALISTANDO_ENTREGA'" class="btn btn-success" ng-click="listoEntregar(b)"> Listo para Entregar</button>
                            <button ng-if="b.estado=='ALISTANDO_ENTREGA'" class="btn btn-success" ng-click="usarAsociarDocumentos(b)"> Usar para Asociar Documentos</button>
                            <button class="btn btn-success" type="submit" ng-click="detallePrestamoPendiente(b)">Ver Detalle </button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
        <h2 class="sub" ng-click="cambiarColapsoContenedorPendienteEntregar()">Documentos Pendientes por Entregar</h2>
        <div class="expandcollapse-item">

            <div class="slideDown" ng-hide="colapsoContenedorPPendienteEntregar">

                <div class="expand-collapse-content">

                </div>



                <table ng-table="tableParamsContainerPendienteEntregar" class="table" show-filter="true">
                    <tr ng-repeat="b in $data">
                        <td title="'Estado'" filter="{ 'estado': 'text'}" sortable="'estado'">
                            {{b.estado}}</td>
                        <td title="'Usuario'" filter="{ 'solicitudUsuario': 'text'}" sortable="'solicitudUsuario'">
                            {{b.solicitudUsuario}}</td>
                        <td title="'Prioridad'" filter="{ 'tipoPrioridadPrestamo': 'text'}" sortable="'tipoPrioridadPrestamo'">
                            {{b.tipoPrioridadPrestamo}}</td>
                        <td title="'Numero'" filter="{ 'numero': 'text'}" sortable="'numero'">
                            {{b.numero}}</td>

                        <td title="'Opciones'" >
                            <button ng-if="b.estado=='USUARIO_PUEDE_PASAR_BODEGA'" class="btn btn-success" ng-click="entregar(b)"> Entregar</button>
                            <button class="btn btn-success" type="submit" ng-click="detallePrestamoPendiente(b)">Ver Detalle </button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>

        <h2 class="sub" ng-click="cambiarColapsoContenedorPrestados()">Documentos Prestados</h2>
        <div class="expandcollapse-item">

            <div class="slideDown" ng-hide="colapsoContenedorPrestado">

                <div class="expand-collapse-content">

                </div>



                <table ng-table="tableParamsContainerPrestado" class="table" show-filter="true">
                    <tr ng-repeat="b in $data">
                        <td title="'Estado'" filter="{ 'estado': 'text'}" sortable="'estado'">
                            {{b.estado}}</td>
                        <td title="'Usuario'" filter="{ 'solicitudUsuario': 'text'}" sortable="'solicitudUsuario'">
                            {{b.solicitudUsuario}}</td>
                        <td title="'Prioridad'" filter="{ 'tipoPrioridadPrestamo': 'text'}" sortable="'tipoPrioridadPrestamo'">
                            {{b.tipoPrioridadPrestamo}}</td>
                        <td title="'Numero'" filter="{ 'numero': 'text'}" sortable="'numero'">
                            {{b.numero}}</td>

                        <td title="'Opciones'" >

                            <button class="btn btn-success" type="submit" ng-click="detallePrestamoPendiente(b)">Ver Detalle </button>
                        </td>
                    </tr>
                </table>
                <table ng-table="tablaGarantias" show-filter="true" export-csv="csv" separator=";"
                       class="table table-condensed table-bordered table-striped ng-scope ng-table">
                    <thead>
                    <tr>
                        <th> Opciones</th>
                        <th ng-repeat="r in all_columns" ng-if="r.checked">{{ r.title }}
                        </th>
                    </tr>
                    </thead>
                    <tr ng-repeat="row in documentosPrestados" >
                        <td>
                            <button class="btn btn-success" type="submit" ng-click="openModal(row)">Ver Detalle Documento</button>
                            <button class="btn btn-success" type="submit" ng-click="detallePrestamoAsociadoDocumento(row)">Información del Préstamo</button>
                        </td>
                        <td ng-repeat="r in all_columns" ng-if="r.checked">{{row[r.title]}}</td>
                    </tr>
                </table>

            </div>
        </div>

        <h2 class="sub" ng-click="cambiarColapsoContenedorDevoluciones()">Documentos en Devolución</h2>
        <div class="expandcollapse-item">

            <div class="slideDown" ng-hide="colapsoContenedorDevoluciones">

                <div class="expand-collapse-content">

                </div>



                <table ng-table="tableParamsContainerDevolucion" class="table" show-filter="true">
                    <tr ng-repeat="b in $data">
                        <td title="'Estado'" filter="{ 'estado': 'text'}" sortable="'estado'">
                            {{b.estado}}</td>
                        <td title="'Usuario'" filter="{ 'solicitudUsuario': 'text'}" sortable="'solicitudUsuario'">
                            {{b.solicitudUsuario}}</td>
                        <td title="'Numero'" filter="{ 'numero': 'text'}" sortable="'numero'">
                            {{b.numero}}</td>

                        <td title="'Opciones'" >
                            <button class="btn btn-success" ng-if="b.estado=='EN_DEVOLUCION'" ng-click="recibirDevolucion(b)"> Recibir</button>
                            <button class="btn btn-success" type="submit" ng-click="detallePrestamoPendiente(b)">Ver Detalle </button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>

        <h2 class="sub" ng-click="cambiarColapsoContenido()">Buscar Documentos para prestar {{prestamoAsociarDocumentos!=null?prestamoAsociarDocumentos.solicitudUsuario + " número "+prestamoAsociarDocumentos.numero:""}}</h2>
        <div class="expandcollapse-item">

            <div class="slideDown" ng-hide="colapsoContenido">
                <div class="expand-collapse-content">


                    <div class="form-horizontal">
                        <div class="form-group">
                            <label  class="col-sm-3">Empresa:</label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="fondoSelected" ng-change="cargarSubseries(f)" ng-options="f as f.value for f in fondos">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3">Documentos a buscar:</label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="subserieseleccionada" ng-change="cargarMetadatos()" ng-options="r['subserie'] as r['subserie'].value for r in subseries">
                                </select>
                            </div>
                        </div>
                    </div>
                    <table ng-table="tableParamsFiltro" show-filter="true" export-csv="csv" separator=";" class="table table-striped table-hover table-condensed ">
                        <th>Columna</th>
                        <th>Valor</th>
                        <tr ng-repeat="c in $data">
                            <td>{{c.label}}</td>
                            <td ng-if="c.fieldType=='checkbox'">
                                <input ng-if="c.fieldType=='checkbox'" type="checkbox" ng-model="c.toSearch">
                            </td>
                            <td ng-if="c.fieldType=='text' || c.fieldType=='numeric'">
                                <input ng-if="c.fieldType=='text' || c.fieldType=='numeric'" ng-model="c.toSearch">
                            </td>
                            <td ng-if="c.fieldType=='date'">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="c.toSearch" is-open="popupEndDate.opened" datepicker-options="dateOptions"
                                       ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openEndDate()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                            </td>

                            </td>
                            <td>
                                <button ng-click="removeRow(c,$index)" class="btn btn-danger ng-scope">Quitar</button>
                            </td>
                        </tr>
                    </table>
                    <!-- Single button -->
                    <div class="btn-group" uib-dropdown is-open="status.isopen">
                        <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                            Agregar Campo
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li ng-click="addColumn(col,$index)" role="menuitem" ng-repeat="col in columnsMetadata ">
                                <span>{{col.label}}</span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success" ng-click="buscar()">Buscar documentos</button>
                    </div>

                    <button type="button" class="btn btn-info marginated ng-binding ng-scope"
                            ng-repeat="r in all_columns" ui-draggable="true" drag="m"
                            ng-click="switchBoolean(r)"
                            draggable="true">
                        {{r.title}}
                    </button>


                    <table ng-table="tablaContenido" show-filter="true" export-csv="csv" separator=";" class="table table-striped table-hover table-condensed ">
                        <thead>
                        <tr>
                            <th> Detalle</th>
                            <th ng-repeat="r in all_columns" ng-if="r.checked">{{ r.title }}
                            </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="row in $data" >
                            <td>
                                <button type="submit" ng-click="openModal(row)">Ver Detalle </button>
                                <button type="submit" ng-if="row.prestamo==null && prestamoAsociarDocumentos!=null" ng-click="asociarPrestamo(row)" >Prestar {{prestamoAsociarDocumentos!=null?" a "+prestamoAsociarDocumentos.solicitudUsuario + " número "+ prestamoAsociarDocumentos.numero:""}} </button>
                                <button type="submit" ng-click="recibirPrestamo(row,this)" ng-if="!!row.prestado">Recibir </button>


                            </td>
                            <td ng-repeat="r in all_columns" ng-if="r.checked">{{row[r.title]}}</td>
                        </tr>
                    </table>



                </div>
            </div>
        </div>

    </div>


</div>