<div class="d-flex">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div  ng-include src="'assets/app/entities/garantias/bodega/view/menu_modega.html'"></div>
    </div>

    <!-- Dark Overlay element -->
    <div id="page-wrapper">
        <h3> Administración de Bodega</h3>
        <div class="form-horizontal">
            <div class="form-group">

                <div class="col-sm-4">
                    <button class="form-control btn btn-success" ng-click="openModalCrearContenedor()"> + </button>
                </div>
                <br/>
                <br/>
            </div>


        </div>
            <table ng-table="tableParams" class="table" show-filter="true">
                <tr ng-repeat="b in $data">
                    <td title="'Regional'" filter="{ 'key.key': 'text'}" sortable="'key.key'">
                        {{b.key.key}}</td>
                    <td title="'Bodega'" filter="{ 'storage.key': 'text'}" sortable="'storage.key'">
                        {{b.storage.key}}</td>

                    <td title="'Nombre'" filter="{ name: 'text'}" sortable="'name'">
                        {{b.name}}</td>

                    <td title="'Codigo'" filter="{ code: 'text'}" sortable="'code'">
                        {{b.code}}</td>

                    <td title="'Descripción'" filter="{ description: 'text'}" sortable="'description'">
                        {{b.description}}</td>
                    <td title="'Dimensión'" filter="{ dimension: 'text'}" sortable="'dimension'">
                        {{b.dimension}}</td>
                    <td title="'Opciones'" >
                        <button class="btn btn-success" ng-click="openModalModificarContenedor(this)"> Modificar</button>
                    </td>
                </tr>
            </table>


    </div>



</div>