<div close="cancel()">
    <div class="modal-header">
        <h4>Documentos Asociados</h4>
    </div>

    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label  class="col-sm-2">Estado:</label>
                <div class="col-sm-4">
                    <input disabled="true" class="form-control" ng-model="prestampSeleccionado.estado" />

                </div>


                <label class="col-sm-2">Usuario:</label>
                <div class="col-sm-4">
                    <input disabled="true" class="form-control" ng-model="prestampSeleccionado.usuario" />

                </div>

                <label  class="col-sm-2">Número:</label>
                <div class="col-sm-4">
                    <input disabled="true" class="form-control" ng-model="prestampSeleccionado.numbero" />
                </div>

            </div>
        </div>



        <table ng-table="tablaGarantias" show-filter="true" export-csv="csv" separator=";"
               class="table table-condensed table-bordered table-striped ng-scope ng-table">
            <thead>
            <tr>
                <th> Opciones</th>
                <th ng-repeat="r in all_columns" ng-if="r.checked">{{ r.title }}
                </th>
            </tr>
            </thead>
            <tr ng-repeat="row in prestamoSeleccionado.entity" >
                <td>
                    <button type="submit" ng-click="openModalFunctionary(row)">Ver Detalle</button>
                    <button type="submit"  ng-click="desasociar(row,$index)">Desasociar</button>
                </td>
                <td ng-repeat="r in all_columns" ng-if="r.checked">{{row[r.title]}}</td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Guardar</button>
        <button class="btn" ng-click="cancel()">Cerrar</button>
        <button class="btn" ng-click="cancel()">Generar Barras</button>
    </div>
</div>