<!-- Sidebar -->
<button href="" class="" ng-click="change_manu_activo()"></button>
    <div ng-show ="menu_activo" class="list-group list-group-flush">

        <a href=""  class="list-group-item list-group-item-action bg-light">Administrar contenedores</a>
        <a href=""  class="list-group-item list-group-item-action bg-light">Administración de ubicaciones</a>
        <a href=""  class="list-group-item list-group-item-action bg-light">Ubicar contenidos</a>
        <a href=""  class="list-group-item list-group-item-action bg-light">Buscar contenidos</a>
    </div>

<!-- /#sidebar-wrapper -->