<!-- Sidebar -->
<button href="" class="btn btn-success" ng-click="change_manu_activo()"></button>
    <div ng-show ="menu_activo" class="list-group list-group-flush">

        <a href="#administrar-ubicacion-bodega"  class="list-group-item list-group-item-action bg-light">Administrar contenedores</a>
        <a href="#ubicar-contenido-bodega"  class="list-group-item list-group-item-action bg-light">Ubicar contenidos</a>
        <a href="#administrador-prestamos-bodega"  class="list-group-item list-group-item-action bg-light">Administrar Préstamos</a>
    </div>

<!-- /#sidebar-wrapper -->