<div class="d-flex">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div  ng-include src="'assets/app/entities/garantias/bodega/view/menu_modega.html'"></div>
    </div>
    <div id="page-wrapper">

            <div class="container">

                <span class="sub" ng-click="cambiarColapsoContenedor()">Seleccione el contenedor</span>
                <div class="expandcollapse-item">

                        <div class="slideDown" ng-hide="colapsoContenedor">

                        <div class="expand-collapse-content">
                            <div class="form-group">
                            <label  class="col-sm-2">Empresa:</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="fondoSeleccionado" ng-change="cargarBodegas(f)" ng-options="f as f.value for f in fondos">
                                </select>
                            </div>


                            <label class="col-sm-2">Bodega:</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="bodegaSeleccionada"  ng-options="b as b.key for b in bodegas">
                                </select>
                            </div>

                            <label  class="col-sm-2">Código:</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="code" />
                            </div>
                            <label  class="col-sm-2">Nombre:</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="name"/>
                            </div>
                            <label  class="col-sm-2">Descripción:</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="description"/>
                            </div>
                            <label  class="col-sm-2">Dimensión:</label>
                            <div class="col-sm-4">
                                <input class="form-control" ng-model="dimension" />
                            </div>
                        </div>
                        </div>
                            <div class="form-group">
                                <button class="btn btn-success" ng-click="ok()">Buscar</button>
                            </div>

                            <table ng-table="tableParamsContainer" class="table" show-filter="true">
                                <tr ng-repeat="b in $data">
                                    <td title="'Regional'" filter="{ 'key.key': 'text'}" sortable="'key.key'">
                                        {{b.key.key}}</td>
                                    <td title="'Bodega'" filter="{ 'storage.key': 'text'}" sortable="'storage.key'">
                                        {{b.storage.key}}</td>

                                    <td title="'Nombre'" filter="{ name: 'text'}" sortable="'name'">
                                        {{b.name}}</td>

                                    <td title="'Codigo'" filter="{ code: 'text'}" sortable="'code'">
                                        {{b.code}}</td>

                                    <td title="'Descripción'" filter="{ description: 'text'}" sortable="'description'">
                                        {{b.description}}</td>
                                    <td title="'Dimensión'" filter="{ dimension: 'text'}" sortable="'dimension'">
                                        {{b.dimension}}</td>
                                    <td title="'Opciones'" >
                                        <button class="btn btn-success" ng-click="mostrarUbicaciones(this)"> Mostrar Ubicaciones</button>
                                    </td>
                                </tr>
                            </table>

                            <table ng-table="tableParamsUbication" class="table" show-filter="true">
                                <tr ng-repeat="ubicaciones in $data">
                                    <td title="'Código'" sortable="'code'">
                                        <input ng-model="ubicaciones.code" ></input>
                                    </td>
                                    <td title="'Nombre'"  sortable="'name'">
                                        <input ng-model="ubicaciones.name"> </input>
                                    </td>
                                    <td title="'Opciones'"  >
                                        <button class="btn btn-success" ng-click="remove (this)"> X </button>
                                    </td>
                                </tr>
                            </table>

                    </div>
                </div>

                <span class="sub" ng-click="cambiarColapsoContenido()">Seleccione el contenido</span>
                <div class="expandcollapse-item">

                    <div class="slideDown" ng-hide="colapsoContenido">
                        <div class="expand-collapse-content">

                        </div>
                    </div>
                </div>

            </div>


    </div>
</div>