<h3>Configuración Tabla de Retención Documental</h3>

<div class="bs-example" append-source >
    <div>
    <div class="panel-group " ng-model="multiplePanels.activePanels" data-allow-multiple="true" role="tablist" aria-multiselectable="true" bs-collapse>

        <div class="panel panel-default col-xs-6" ng-repeat="panel in panels">

                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a bs-collapse-toggle>
                            {{ panel.title }}
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                        <!--{{ panel.body }}-->
                        <table ng-table="vm.tableParams" class="table" show-filter="false">
                            <tr ng-repeat="data in panel.data">
                                <td ng-click="select (data)" title="'Código'" filter="{ key: 'text'}" sortable="'key'">
                                    {{data.key}}</td>
                                <td ng-click="select (data)" title="'Nombre'" filter="{ value: 'number'}" sortable="'value'">
                                    {{data.value}}</td>
                            </tr>
                        </table>
                    </div>

            </div>
        </div>
    </div>
        </div>
</div>

<div class="container">
    <feb-stepper steps="['{{stepNo1}}', 'Step 2', 'Step 3', 'Step 4', 'Step 5']" control="stepperControl" start-step="1"></feb-stepper>
</div>
<div>
    <button ng-click="stepperControl.prevStep()">Prev step</button>
    <button ng-click="stepperControl.nextStep()">Next step</button>
</div>
<div>
    <br/>
    Change text for the first step :
    <input ng-model="stepNo1"/>
</div>
