<div >
    <div class="modal-header">
        <h4>Seleccione la regional de recepción</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
        <div>
            <label  class="col-sm-4">Empresa:</label>
            <div class="col-sm-6">
            <select  class="form-control" ng-model="fondoSeleccionado" ng-change="cargarRegionales(r)"
                      ng-options="f as f.value for f in fondos" > </select>
            </div>
        </div>
        <div>
            <label  class="col-sm-4">Regional:</label>
            <div class="col-sm-6">
            <select   class="form-control"  ng-model="regionalSeleccionada"
                   ng-options="r as r.location+'-'+ r.value for r in regionales" >  </select>
            </div>
        </div>
        <div>
            <label  class="col-sm-4">Documentos  a recibir:</label>
            <div class="col-sm-6">
            <select   class="form-control" ng-model="subserieseleccionada"
                ng-options="r['subserie'] as  r['subserie'].value for r in subseries" >  </select>
            </div>
        </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Seleccionar</button>
        <button class="btn" ng-click="cancel()">Cancelar</button>
    </div>
</div>