<h2>Crear usuario</h2>
<span>Nombre Completo</span> <input type="text" ng-model="user.nombreCompleto" class="span2" placeholder="Nombre Completo">
<br/><span>Correo Electrónico</span> <input type="text" ng-model="user.email" class="span2" placeholder="ejemplo@miempresa.com">
<br/>
<span>Usuario</span> <input type="text" ng-model="user.user" class="span2" placeholder="Usuario">
<br/>
<span>Contraseña</span><input type="password" ng-model="user.pass" class="span2" placeholder="Contaseña">


<input type="submit" value="Agregar" ng-click="ok()" class="btn green"/>
<button class="btn" ng-click="cancel()">Cancelar</button>