<div id="page-wrapper">
    <h3>CONFIGURACION DE CAMPOS PARA BUSQUEDAS </h3>
    <br />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2">Empresa:</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="fondoSelected" ng-change="cargarDocumentos(f)" ng-options="f as f.value for f in fondos">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Documentos a buscar:</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="subserieseleccionada" ng-change="" ng-options="r['subserie'] as r['subserie'].value for r in subseries">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Tipo:</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="fieldType">
                    <option value="checkbox">Check</option>
                    <option value="text">Texto</option>
                    <option value="numeric">Numérico</option>
                    <option value="date">fecha</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2">Condicional:</label>
            <div class="col-sm-4">
                <select class="form-control" ng-model="condition">
                    <option value="__equal">Igual</option>
                    <option value="__like">Like</option>
                    <option value="__morethan">Mayor a lo ingresado</option>
                    <option value="__lesstan">Menor a lo ingresado</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="pname">Nombre del campo :</label>
            <div class="col-sm-4">
                <input class="form-control" id="pname" ng-model="fieldName" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="valor">Valor del Campo: </label>
            <div class="col-sm-4">
                <input id="valor" ng-model="fieldValue" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2" for="key">Label del campo :</label>
            <div class="col-sm-4">
                <input id="key" ng-model="fieldLabel" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <button type="button" class="btn green" ng-click="add()" data-dismiss="modal">Agregar</button>
            </div>
        </div>

    </div>
    <h3>LISTA DE CAMPOS ESTABLECIDOS</h3>

    <table ng-table="tabla" show-filter="true" export-csv="csv" separator=";" class="table table-striped table-hover table-condensed ">
        <th> Empresa</th>
        <th> Tipo de documento</th>
        <th> Tipo de Campo</th>
        <th> Condiciòn</th>
        <th> Nombre del campo</th>

        <th> Valor del campo</th>
        <th> Label del campo</th>
        <th> Opciones</th>
        <tr ng-repeat="c in parametrics">
            <td>{{c.empresa.key}}</td>
            <td>{{c.subserie.key}}</td>
            <td>{{c.fieldType}}</td>
            <td>{{c.condition}}</td>

            <td>{{c.fieldName}}</td>
            <td>{{c.fieldValue}}</td>
            <td>{{c.fieldLabel}}</td>
            <td>
                <button class="btn btn-danger" ng-click="remove($index)">Eliminar</button>
            </td>

        </tr>
    </table>
</div>