<div id="page-wrapper" ng-init="openModalFiltro()">

    <h2>Busqueda Avanzada</h2>

    <button ng-click="openModalFiltro()" class="btn green">Busqueda</button>


    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h2>Resultados de la consulta</h2>
            <div class="form-group">
                <div class="col-sm-12">
                    <div data-toggle="collapse" data-target="#demo" class="ui-content">Ver Columnas</div>
                    <div id="demo" class="collapse">
                        <button type="button" class="btn btn-info marginated ng-binding ng-scope"
                                ng-repeat="r in all_columns" ui-draggable="true" drag="m"
                                ng-click="switchBoolean(r)"
                                draggable="true">
                            {{r.title}}
                        </button>
                        <div>
                            <input type="text" ng-model="columnName">{{c.title}}
                            <button class="btn green" ng-click="addColumn(columnName)">Agregar Columna</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="span3">
        <table ng-table="tablaGarantias" show-filter="true" export-csv="csv" separator=";"
               class="table table-condensed table-bordered table-striped ng-scope ng-table">
            <thead>
            <tr>
                <th> Opciones</th>
                <th ng-repeat="r in all_columns" ng-if="r.checked">{{ r.title }}
                </th>
            </tr>
            </thead>
            <tr ng-repeat="row in searchResults" >
                <td>
                    <button type="submit" ng-click="openModalFunctionary(row)">Ver Detalle</button>
                    <button type="submit" ng-if="row.prestamo==null" ng-click="openModalRealizarPrestamo(row)">Prestar</button>
                </td>
                <td ng-repeat="r in all_columns" ng-if="r.checked">{{row[r.title]}}</td>
            </tr>
        </table>
    </div>
</div>



