<form name="editForm" role="form" novalidate >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLearningResultLabel">Ver estado de la garantia</h4>
    </div>

    <div class="modal-body">
        <!--div class="row"-->
            <div ng-if="rowDetailShow(key)" class="col-md-6 col-lg-6" ng-repeat="(key,value) in entity">
                <div  class="form-group">
                    <label for="{{key}}">{{key}}</label>
                    <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                           ng-model="entity[key]" readonly/>
                </div>

            </div>
        <!--/div-->
    </div>

    <table ng-table="tablaGarantias" show-filter="true" export-csv="csv" separator=";"
           class="table table-condensed table-bordered table-striped ng-scope ng-table">
        <thead>
        <tr>
            <th> Nombre del archivo</th>
            <th> Fecha de apertura</th>
            <th> Tipo de documento</th>
            <th> Visualizar</th>
        </tr>
        </thead>
        <tr ng-repeat="row in listOfFiles" >
            <td>{{row.fileName}}</td>
            <td>{{row.fechaCarga}}</td>
            <td>{{row.metadata.documentType.value}}</td>
            <td>
                <button type="submit" ng-if="false"
                        ng-click="openModal(row)"
                        class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span class="hidden-xs hidden-sm"></span>
                </button>
                <button class="btn green"
                        ng-click="retrieveFile(row.internalName,row.fileName)">
                        Descargar
                </button>
            </td>
        </tr>
    </table>

    <uib-tabset active="activeJustified" justified="true">
        <uib-tab ng-repeat="(key,pdfUrl) in pdfUrlArray" heading="{{key}}">
            <ng-pdf current-pdf-url="pdfUrlArray[key]" template-url="/assets/app/entities/upload-files/view/viewer.html"
                    canvasid="$index" scale="page-fit" page=1></ng-pdf>
        </uib-tab>
    </uib-tabset>

</form>