<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLearningResultLabel">Ver estado de la garantia</h4>
    </div>

    <div class="modal-body">
        <div class="form-group" ng-repeat="(key,value) in entity" >
            <label for="{{key}}">{{key}}</label>
            <input type="text" class="form-control" id="{{key}}" name="{{key}}"
                   ng-model="entity[key]" readonly />
        </div>

    </div>




    <h2>Subir archivos</h2>

    <input type="file" file-upload multiple/>
    <ul>
        <li ng-repeat="file in files">{{file.name}}</li>
    </ul>
    Id Garantia
    <input type="text" ng-model="garanatiaid"><br/><br/>
    Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
    >Drop pdfs or images here or click to upload</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    Upload Log:
    <pre>{{log[0]}}</pre>

</form>