th>.ng-table-header {


}
th>* {

text-align: center !important;
}
body {
	background-image:none;
	background-repeat: repeat-y;
	background-position:top;
	background-attachment:fixed;
	background-color:white !important;
	margin:0px;
	font-family: 'Conv_MyriadPro-Regular',Verdana;
}
.logoImageCerti{
    width: 20%;
    height: 20%;
    
}

.consulta{
     column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    
    
}

.column2{
     column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    -o-column-count: 4;
    
    
    
}
iframe{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    border-image-source:none !important;
    border-width:0px !important;    
    border-style:none !important;
    border-image-outset:inherit !important;
        border-image-width:0px !important;    
}

body>div{
    
    display: inherit !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border : none !important;
    
}

div[ng-app] { margin: 10px; }
.table {width: 100% }
form[editable-form] > div {margin: 10px 0;}

.modal-dialog{
    max-height: 500px;
    overflow-y: scroll !important;
    
}

