<div  close="cancel()">
    <div class="modal-header">
        <h4>Seleccione el medio de envío</h4>
    </div>

        <span>Medio:</span>      <select  >
                                    <option value="{{f}}">Tula</option>
                                    <option value="{{f}}">Caja X200</option>
                                    <option value="{{f}}">Caja X300</option>
                                </select>
    </div>
            Precinto:
            <input ng-model="tula"/>


        <button ng-if="!code" class="btn btn-success" ng-click="generateBarcode()">Generar</button>
        <div>

            <io-barcode code="{{ code }}" type="{{ type }}" options="options"></io-barcode>
            <div>    <span class="text-align-center">{{ code }}</span></div>
        </div>
        <button ng-if="code" class="btn btn-success" ng-click="downloadBarCode()">Descargar</button>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Confirmar</button>
        <button class="btn" ng-click="cancel()">Cancelar</button>
    </div>
</div>