<div  close="cancel()">
    <div class="modal-header">
        <h4>Seleccione la regional de origen</h4>
    </div>

        <span>Empresa:</span>      <select  ng-model="fondoSeleccionado" ng-change="cargarRegionales(r)">
                                    <option ng-repeat="f in fondos" value="{{f}}">{{f.value}}</option>
                                </select>
    </div>
    <div>
        <span>Regional:</span>    <select  ng-model="regionalSeleccionada" >
                                    <option ng-repeat="r in regionales" value="{{r}}">{{r.location+"-"+ r.value}}</option>
                                </select>
    </div>

    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Seleccionar</button>
        <button class="btn" ng-click="cancel()">Cancelar</button>
    </div>
</div>