<div  close="cancel()">
    <div class="modal-header">
        <h4>Datos de la regional</h4>
    </div>
    <div>
        Código de la regional:     <input ng-model="key"/>
    </div>
    <div>
    Nombre de la regional:     <input ng-model="value"/>
    </div>
    <div>
    Direcciòn de la regional:     <input ng-model="location"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Agregar</button>
        <button class="btn" ng-click="cancel()">Cancelar</button>
    </div>
</div>