<div  close="cancel()">

    <div class="modal-header">
        <h4>Datos de la Bodega</h4>
    </div>

    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">

                    <label class="col-sm-3">Código de la bodega:</label>
                    <input class="col-sm-3" ng-model="key"/>
                    <label class="col-sm-3"> Nombre de la bodega:</label>

                    <input class="col-sm-3" ng-model="value"/>
                    <label class="col-sm-3"> Dirección de la bodega:</label>
                     <input class="col-sm-3" ng-model="location"/>
            </div>
        </div>
    </div>




    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Agregar</button>
        <button class="btn" ng-click="cancel()">Cancelar</button>
    </div>
</div>