<div  close="cancel()">
    <div class="modal-header">
        <h4>Seleccione la regional de recepción</h4>
    </div>

        <span>Empresa:</span>      <select  ng-model="fondoSeleccionado" ng-change="cargarRegionales(r)"
                                            ng-options="f as f.value for f in fondos" />

    </div>
    <div>
        <span>Regional:</span>    <select  ng-model="regionalSeleccionada"
                                           ng-options="r as r.location+'-'+ r.value for r in regionales">
                                </select>
    </div>
    <div>
        <span>Documentos  a recibir:</span>    <select  ng-model="subserieseleccionada"
                                            ng-options="r['subserie'] as  r['subserie'].value for r in subseries">
    </select>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="ok()">Seleccionar</button>
        <button class="btn" ng-click="cancel()">Cancelar</button>
    </div>
</div>