<div class="d-flex">

    <div id="page-wrapper">

        <p class="container">

        <h2 class="sub" ng-click="cambiarColapsoContenedor()">->>Campos de archivo</h2>

        <div class="expandcollapse-item">

            <div class="slideDown" ng-hide="colapsoContenedor">

                <div class="expand-collapse-content">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <button type="button" class="btn green" ng-click="openModalCrearCampoArchivo()" data-dismiss="modal">+</button>
                        </div>
                    </div>



                <table ng-table="tableParamsContainer" class="table" show-filter="true">
                    <tr ng-repeat="b in $data">
                        <td title="'nombre parametrica'" filter="{ 'key.key': 'text'}" sortable="'nombreparametrica'">
                            {{b.nombreparametrica}}</td>
                        <td title="'Clave'" filter="{ 'storage.key': 'text'}" sortable="'key'">
                            {{b.key}}</td>

                        <td title="'Nombre del Campo'" filter="{ name: 'text'}" sortable="'value'">
                            {{b.value}}</td>


                        <td title="'Opciones'" >
                            <button class="btn btn-success" ng-click="remove($index)"> Eliminar</button>
                        </td>
                    </tr>
                </table>
                </div>

            </div>
        </div>



    </div>


</div>